alpha-to-beta-android/assets/schemas/MapSchema.xml

<?xml version="1.0" ?>
<!--
  ~ Copyright (C) Debug Studios, Inc - All Rights Reserved
  ~ Unauthorized copying of this file, via any medium is strictly prohibited
  ~ Proprietary and confidential
  ~ Written by Antonis Kalou <kalouantonis@gmail.com>, 12 2013
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!--definition of attributes-->
<xs:attribute name="index" type="xs:nonNegativeInteger" />
<xs:attribute name="level" type="xs:nonNegativeInteger" />

<!--definition of elements-->
<xs:element name="Layer">
    <xs:complexType>
        <xs:attribute ref="level" use="required" />
        <xs:attribute ref="index" use="required" />
    </xs:complexType>
</xs:element>
<xs:element name="FilePath" nillable="false" />

<xs:element name="Map">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="Layer" maxOccurs="unbounded" />
            <xs:element ref="FilePath" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
</xs:element>

</xs:schema>