alpha-to-beta-android/assets/schemas/ObstacleSchema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Obstacle" type="ObstacleType">
    <xs:annotation>
      <xs:documentation>~ Copyright (C) Debug Studios, Inc - All Rights Reserved
  ~ Unauthorized copying of this file, via any medium is strictly prohibited
  ~ Proprietary and confidential
  ~ Written by Antonis Kalou &lt;kalouantonis@gmail.com>, 1 2014</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PhysicsType">
    <xs:sequence>
      <xs:element type="xs:float" name="mass"/>
    </xs:sequence>
    <xs:attribute type="xs:float" name="width"/>
    <xs:attribute type="xs:float" name="height"/>
  </xs:complexType>
  <xs:complexType name="PropertyType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ObstacleType">
    <xs:sequence>
      <xs:element type="LayerType" name="Layer"/>
      <xs:element type="PropertyType" name="Property"/>
      <xs:element type="PhysicsType" name="Physics"/>
      <xs:element type="xs:float" name="damage"/>
      <xs:element type="xs:float" name="slowdown"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LayerType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:nonNegativeInteger" name="index"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>